$Blue: #3a89c2;

* {
  font-family: "Roboto", sans-serif;
}

@mixin label {
  font-size: 40px;
  font-weight: bold;
}

.lost_wrapper {
  display: flex;
}

.selection {
  padding-top: 100px;
  padding-bottom: auto;
  width: 500px;
}

.select {
  position: relative;
  margin-left: 100px;
  margin-bottom: 60px;
}

.select_title {
  display: block;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  padding: 3px 12px;
  font-size: 20px;
  line-height: 1.5;
  color: #282828;
  background-color: #f0eeee;
  background-image: none;
  border: 1px solid #b0afaf;
  border-radius: 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

.select_description {
  display: block;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  padding: 3px 12px;
  font-size: 20px;
  line-height: 1.5;
  color: #282828;
  background-color: #f0eeee;
  background-image: none;
  border: 1px solid #b0afaf;
  border-radius: 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

.label_title {
  @include label;
}

.label_category {
  @include label;
}

.label_color {
  @include label;
}

.label_location {
  @include label;
}

.label_description {
  @include label;
}

.select_div {
  margin-top: 20px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 326px;
  height: 60px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: #313131;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-left: 0px;
}

option {
  cursor: pointer;
  font-weight: bold;
}

.text_container {
  padding-top: 100px;
  padding-left: 30px;
  width: 500px;
  display: inline-block;
}

.text_container h1 {
  font-size: 40px;
  font-weight: 500;
  color: #4d4d4d;
  position: fixed;
}

$primaryColor: #999;
$gray: #bbbbbb;

.container {
  margin-left: 100px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.submit {
  outline: none;
  height: 60px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid $Blue;
  color: $Blue;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0;

  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
    background: $Blue;
  }
  &:active {
    letter-spacing: 2px;
  }
}

.onclic {
  width: 40px;
  border-color: $gray;
  border-width: 3px;
  font-size: 0;
  border-left-color: $primaryColor;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content: "";
  }
  &:hover {
    color: $primaryColor;
    background: white;
  }
}

.validate {
  font-size: 13px;
  color: white;
  background: $primaryColor;
  &:after {
    font-family: "Roboto";
    content: "\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 960px) {
  .lost_wrapper {
    display: block;
  }

  .submit {
    margin-left: 28px;
  }
}
