$Blue: #3a89c2;
@import "../../App.scss";

@mixin input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  div,
  input {
    margin-top: 10px;
  }
}
@mixin input {
  width: 100%;
  height: 60px;
  -moz-padding-start: calc(10px - 3px);
  padding: 0 0 0 10px;
  color: #313131;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-left: 0px;
}

.main_found {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &__text {
    text-align: center;
    width: 100%;
    * {
      margin: 0;
      margin-top: 30px;
    }
  }

  &__selection_wrapper {
    &__title_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__input {
        @include input;
      }
    }
    &__desc_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__input {
        @include input;
      }
    }
    &__category_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__select_wrapper {
        width: 100%;
        margin-top: 20px;
        select {
          @include select;
        }
      }
    }
    &__color_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__select_wrapper {
        width: 100%;
        margin-top: 20px;
        select {
          @include select;
        }
      }
    }
    &__location_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__select_wrapper {
        width: 100%;
        margin-top: 20px;
        select {
          @include select;
        }
      }
    }
    &__input_wrapper {
      @include input-wrapper;
      display: flex;
      align-items: center;
      &__label {
        @include label;
      }
      &__input {
        transition: 300ms ease;
        @include button;
        margin-top: 20px;
        text-align: center;
        width: 50%;
        &:hover {
          background-color: #237fc0;
        }
        input[type="file"] {
          display: none;
        }
      }
      &__image_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
          border-radius: 3px;
        }
        button {
          margin-top: 20px;
          transition: 300ms ease;
          @include button;
          &:hover {
            background-color: #237fc0;
          }
        }
      }
    }
    // h1 {
    // }
    &__phone_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__input {
        @include input;
      }
    }

    &__mail_wrapper {
      @include input-wrapper;
      &__label {
        @include label;
      }
      &__input {
        @include input;
      }
    }
    &__submit {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        transition: 300ms ease;
        @include button;
        &:hover {
          background-color: #237fc0;
        }
      }
    }
    &__feedback {
      text-align: center;
      display: block;
      width: 300px;
    }
  }
}

* {
  font-family: "Roboto", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
