$Blue: #3a89c2;
.main_item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  position: relative;
  margin: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.2s ease-in-out;

  svg {
    position: absolute;
    left: 0;
    top: 57%;

    width: 100%;
    z-index: 132323;
  }
  &__img_container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      position: relative;
      height: 100%;
    }
  }

  &__desc {
    background-color: $Blue;
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 10px 0;
      font-size: 1.2rem;
    }
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}
