p {
  font-size: 28px;
  width: 300px;
}

#content {
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  margin-top: 3%;
}

#images {
  display: flex;
}

#text {
  display: flex;
}

#service_div {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#lost_div {
  margin-left: 8%;
  width: 300px;
}

#found_div {
  margin-right: 8%;
  width: 300px;
}

#service_img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#lost_img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#found_img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#service_txt {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#lost_txt {
  margin-left: 8%;
  width: 300px;
}

#found_txt {
  margin-right: 8%;
  width: 300px;
}
