p {
  font-size: 28px;
}

#content {
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#wrapper {
  margin-top: 3%;
}

#blocks {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 75px;
}

#lost_block {
  width: 25%;
  margin-left: 5%;

  min-height: 30%;
  max-height: 30%;
}

#service_block {
  width: 25%;
  margin-left: 7.5%;
  margin-right: 7.5%;

  min-height: 30%;
  max-height: 30%;
}

#found_block {
  width: 25%;
  margin-right: 5%;

  min-height: 30%;
  max-height: 30%;
}

#text {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 75%;
  text-align: center;
  align-items: center;
}

#text h1 {
  margin-left: 0px;
  text-align: center;
}

#image {
  height: 25%; //hängt mit text height zusammen 25% + 75% = 100%
}

#logo_div {
  margin: auto;
}

#logo_img {
  width: 45%;
  margin-bottom: 25px;
}

#service_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 200px;
  min-width: 100px;
}

#lost_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 100px;
  min-width: 70px;
}

#found_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 100px;
  min-width: 70px;
}
