p {
  font-size: 28px;
}

#content {
  height: 73.8%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  margin-top: 3%;
}

#blocks {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 75px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

#lost_block {
  width: 25%;
  margin-left: 5%;

  min-height: 30%;
  max-height: 30%;
}

#service_block {
  width: 25%;
  margin-left: 7.5%;
  margin-right: 7.5%;

  min-height: 30%;
  max-height: 30%;
}

#found_block {
  width: 25%;
  margin-right: 5%;

  min-height: 30%;
  max-height: 30%;
}

#text {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 75%;
  text-align: center;
  align-items: center;
}

#text h1 {
  margin-left: 0px;
  text-align: center;
}

#image {
  height: 25%; //hängt mit text height zusammen 25% + 75% = 100%
}

#logo_div {
  margin-top: 5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

#logo_img {
  width: 45%;
  margin-bottom: 25px;
}

#service_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 200px;
  min-width: 100px;
}

#lost_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 100px;
  min-width: 70px;
}

#found_img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 45%;
  max-width: 100px;
  min-width: 70px;
}

#lost_img_mobile {
  display: none;
}

#found_img_mobile {
  display: none;
}

@media only screen and (max-width: 960px) {
  #blocks {
    flex-wrap: wrap;
    padding: 0;
    animation-delay: 0s;
  }

  #service_block {
    width: 100%;
  }

  #lost_block,
  #found_block {
    width: 100%;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }

  #logo_div,
  #lost_img,
  #found_img {
    display: none;
  }

  #lost_img_mobile,
  #found_img_mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 45%;
    max-width: 100px;
    min-width: 70px;
  }
  #content {
    height: auto;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
