$quiteBlack: #313131;
$Blue: #366f97;
$veryLightGray: rgba(255, 255, 255, 0.5);

@mixin navbar_buttons {
  width: 250px;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-top: 23px;
  margin-right: 100px;
  letter-spacing: 2px;
  /* margin-left: auto; */
}

@mixin navbar_buttons_hover {
  transition: 0.3s ease;
  color: $veryLightGray;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: $Blue;
  margin: auto;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.navbar img {
  margin: 0;
  margin-top: -5px;
  margin-left: 27px;
  cursor: pointer;
}

.navbarButtons {
  margin-top: 23px;
  margin-left: auto;
}

.lost {
  @include navbar_buttons;
}

.lost:hover {
  @include navbar_buttons_hover;
}

.found {
  @include navbar_buttons;
}

.found:hover {
  @include navbar_buttons_hover;
}

.home {
  @include navbar_buttons;
}

.home:hover {
  @include navbar_buttons_hover;
}

.img_logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@media screen and (max-width: 960px) {
  .navbarButtons {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbarButtons.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 75vh;
    font-size: 1.6rem;
  }

  .home {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .lost {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .found {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle:hover {
    cursor: pointer;
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
