.main_preview {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__image-container {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 100px 0;
      cursor: pointer;
      width: clamp(10%, 70%, 500px);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }

  &__text-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
      font-size: 2.5rem;
      font-weight: 1000;
      letter-spacing: 7px;
      margin-bottom: 1rem;

      width: 400px;
    }
    &__description {
      width: 400px;
      font-size: 1.8rem;
    }
    &__icons {
      width: 400px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a {
        margin: 0 50px;
        display: block;
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    span {
      margin: 20px 0;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}

#fab {
  position: fixed;
  top: 120px;
  width: 70px;
  left: 40px;
  height: 70px;
  background-color: #3a89c2;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
