$Blue: #366f97;

.footer__container {
  background-color: $Blue;
  /* padding: 5rem 0; */
  display: flex;
  flex-direction: column; /* for the footer */
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.footer__links {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
  width: 75%;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  text-align: left;
  width: 20%;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 5%;
  font-family: "Roboto", sans-serif;
}

.footer__link--items > h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.footer__link--items a:hover {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.2s ease-out;
}

@media only screen and (max-width: 960px) {
  .footer__link--wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__link--items {
    margin-left: auto;
    width: 40%;
  }
}
